/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

body {
	@apply text-black;
}

.container{
	@apply w-[80%] mx-auto pt-10;
}

.btn-p{
	@apply p-3 flex justify-center items-center text-white;
	background: rgb(0, 0, 0);
	transition: .2s ease;
}

.btn-p:hover{
	background: rgb(40, 40, 40);
}

input{
	@apply outline-none focus:ring-1 focus:ring-black;
}

[aria-busy="true"] {
	position: relative;
}

[aria-busy="true"]:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #999999;
	opacity: .4;
	display: block;
	content: "";
	z-index: 10000;
}

[aria-busy="true"]:after {
	position: absolute;
	 content: "";
	width: 25px;
	height: 25px;
top: 20%;
left: calc(50% - 25px);

	-webkit-animation: circle infinite .75s linear;
		 -moz-animation: circle infinite .75s linear;
			 -o-animation: circle infinite .75s linear;
					animation: circle infinite .75s linear;

	border: 2px solid #fff;
	border-top-color: rgb(197, 197, 197);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-radius: 100%;
}

@-webkit-keyframes circle
{
	0%
	{
			-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					 -o-transform: rotate(0);
							transform: rotate(0);
	}
	100%
	{
			-webkit-transform: rotate(360deg);
					-ms-transform: rotate(360deg);
					 -o-transform: rotate(360deg);
							transform: rotate(360deg);
	}
}
@-moz-keyframes circle
{
	0%
	{
			-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					 -o-transform: rotate(0);
							transform: rotate(0);
	}
	100%
	{
			-webkit-transform: rotate(360deg);
					-ms-transform: rotate(360deg);
					 -o-transform: rotate(360deg);
							transform: rotate(360deg);
	}
}
@-o-keyframes circle
{
	0%
	{
			-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					 -o-transform: rotate(0);
							transform: rotate(0);
	}
	100%
	{
			-webkit-transform: rotate(360deg);
					-ms-transform: rotate(360deg);
					 -o-transform: rotate(360deg);
							transform: rotate(360deg);
	}
}
@keyframes circle
{
	0%
	{
			-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					 -o-transform: rotate(0);
							transform: rotate(0);
	}
	100%
	{
			-webkit-transform: rotate(360deg);
					-ms-transform: rotate(360deg);
					 -o-transform: rotate(360deg);
							transform: rotate(360deg);
	}
}

.loader{
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 00;
	visibility: hidden;
	transition: .2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader svg{
	width:100px;
}

.loader.active{
	visibility: visible;
	opacity: 1;
	z-index: 100000;
}

.hero-bg{
	background: url(https://static.vecteezy.com/system/resources/previews/006/430/145/original/technology-background-concept-circuit-board-electronic-system-futuristic-hi-tech-light-on-dark-blue-free-vector.jpg) no-repeat;
	background-size: cover;
}